// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div {
  border-left: 4px gray solid;
  padding-left: 6px;
}

label {
  display: block;
  margin-bottom: 3px;
}

input[type="submit"] {
  color: white;
  background-color: rgb(77, 77, 238);
}
